{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="ui grid">
        <div class="row">
            <div class="eight wide column">
                <h2>Account Profile</h2>
                <table class="ui celled table">
                    <tbody>
                    <tr>
                        <td><strong>First Name</strong></td>
                        <td>{{ current_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>First Name</strong></td>
                        <td>{{ current_user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Credits</strong></td>
                        <td>{{ current_user.credits }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <h2>Payment History</h2>
                <table class="ui celled table">
                    <thead><tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Card</th>
                        <th>Credits Added</th>
                        <th>Receipt</th>
                    </tr></thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <td data-label="Date">{{ payment.created | epoch_datetime('full') }}&emsp;</td>
                            <td data-label="Amount">${{ payment.amount / 100 }}&emsp;</td>
                            <td data-label="Card">**** **** **** 4242</td>
                            <td data-label="Credits Added">10</td>
                            <td data-label="Receipt"><a href="{{ payment.receipt_url }}" target="_blank">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
