{% extends "layout.html" %}
{% block content %}
  <br/>
  <h1>Buy More Credits</h1><br/>
  <p>You currently have {{ user.credits }} diagnosis credits left. You can buy a pack of 10 credits for only $10 using the button below:</p>
  <form action="{{ url_for('userbp.charge') }}" method="post">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Cure Skin Credits"
            data-amount="1000"
	        data-email="{{ user.email }}"
            data-locale="auto"
            data-image="{{ url_for('static', filename='img/CureSkin_Icon.png') }}">
    </script>
  </form>
{% endblock %}