{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
{% endblock %}
{% block content %}
    <div class="ui form-user center">
        <h4 class="ui dividing header">Upload your skin photo:</h4>
        {{ dropzone.create(action='diagnose')}}
        <button class="ui primary button" type="submit">Diagnose</button>
    </div>
    {{ dropzone.load_js() }}
	{{ dropzone.config() }}
{% endblock %}