{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
    <style>
        #status {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="./static/dist/dropzone.css" />
{% endblock %}
{% block content %}
    {% if current_user.credits > 0 %}

        <div class="ui two column divided grid">
            <div class="row">
                <div class="column">
                    <h2>Upload Image</h2>
                        <div class="ui form-user center">
                            <form enctype="multipart/form-data" method="POST">
                                <div class="dropzone" id="my-dropzone">
                                </div>
                                <button id="upload-btn" class="ui primary button" type="submit">Diagnose</button>
                            </form>
                            <script src="./static/dist/dropzone.js"></script>
                            <script>

                                Dropzone.options.myDropzone = {
                                    url: '{{ url_for('predict') }}',
                                    autoProcessQueue: false,
                                    uploadMultiple: false,
                                    parallelUploads: 5,
                                    maxFiles: 1,
                                    maxFilesize: 1,
                                    acceptedFiles: 'image/*',
                                    addRemoveLinks: true,
                                    autoProcessQueue: false,
                                    clickable: true,
                                    init: function() {

                                        dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

                                        this.on("addedfile", function() {
                                            if (this.files[1]!=null){
                                                this.removeFile(this.files[0]);
                                            }
                                        });
                                        this.on("sending", function(file, xhr, formData) {
                                            // Show processing indicator when we upload the file to run a prediction
                                            document.getElementById("prediction-summary").innerHTML = "<strong>Running Diagnosis...<strong>";
                                        });
                                        this.on("success", function(file, response) {

                                            if (response.success) {
                                                // Show prediction
                                                document.getElementById("prediction-summary").innerHTML =
                                                        "<strong>Diagnosis:</strong> " + response.prediction + "<br/>" +
                                                        "<strong>Certainty:</strong> " + (response.certainty * 100) + "%<br/>" +
                                                        "<strong><a href='" + response.url + "' target='_blank'>Read More</a>";

                                                // Update Credits
                                                document.getElementById("credit-counter").textContent="Credits: " + response.credits_left;
                                            } else {
                                                document.getElementById("prediction-summary").innerHTML = "<strong>Error:</strong> " + response.error
                                            }

                                        });
                                        document.getElementById("upload-btn").addEventListener("click", function(e) {
                                            e.preventDefault();
                                            dzClosure.processQueue();
                                        });
                                    }
                                 }
                             </script>
                        </div>
                </div>
                <div class="column">
                    <h2>Diagnosis:</h2>
                    <div id="prediction-summary">
                        <p>Please upload an image on the left to see a prediction.</p>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <br>
        <h1>Not Enough Credits</h1>
        <p>Please buy some credits <a href="{{ url_for('userbp.pay') }}">here</a>.</p>
    {% endif %}

    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h2>Previous Diagnoses</h2>
                <table class="ui celled table">
                    <thead><tr>
                        <th>Date</th>
                        <th>Image</th>
                        <th>Prediction</th>
                        <th>Certainty</th>
                        <th>More Information</th>
                    </tr></thead>
                    <tbody>
                        {% for diagnosis in diagnoses %}
                        <tr>
                            <td data-label="Date">{{ diagnosis.time | epoch_datetime('full') }}</td>
                            <td data-label="Image"><img src="/diagnose/img/{{ diagnosis.id }}" alt="{{ diagnosis.filename }} width="100" height="100"/></td>
                            <td data-label="Prediction">{{ diagnosis.title }}</td>
                            <td data-label="Certainty">{{ diagnosis.certainty }}%</td>
                            <td data-label="More Information"><a href="{{ diagnosis.url }}" target="_blank">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}