{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<div class="hero">
		<h1 class="ui header">{{ title }}</h1>

		{% if current_user.is_authenticated %}
			<h2 class="ui header">Hi {{ current_user.first_name }}!</h2>
		{% endif %}
	</div>
	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column">
					<h3 class="ui header">We help fix your skin problem before you see a doctor.</h3>
					<p>Our AI-based solution will diagnose your skin like a dermatalogist does and tell you what is wrong.</p>
					<h3 class="ui header">You never have to wait for months for a doctor's visit</h3>
					<p>Our solution is available for you instantly and can serve you anywhere.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
